@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top{
    height: 735px;
  }
  .top__title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    max-width: 100%;
    padding-top: 236px;
  }
  .top__text{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    max-width: 100%;
    padding-top: 32px;
  }
  .top__text_link{
    font-size: 14px;
    line-height: 22px;
  }
    .center-button {
      padding-top: 32px;
      display: flex;
      justify-content: center;
      /* Горизонтальное выравнивание по центру */
      // align-items: center;
      // /* Вертикальное выравнивание по центру */
      // height: 100vh;
      // /* 100% высоты видимой области браузера */
  }
  .content__card_img{
    width: 343px;
  }    
}
  
  
  
    