* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none
}

.top {
  background-image: url(img/top_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;

  &__title {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    max-width: 788.778px;
    padding-top: 217px;
  }

  &__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    max-width: 481px;
    padding-top: 32px;

    &_link {
      color: #FFF;
      font-weight: 700;
    }
  }

  &__button {
    border-radius: 30px;
    background: #9C0332;
    border: none;
    width: 234.063px;
    height: 48.603px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 44px;
    padding: 13px 74px;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;

    &:hover {
      cursor: url(img/top_cursor.svg), pointer;
      background: #EB443F;
      transform: scale(1.05);
    }
  }
}

.content {
  background-image: url(img/content-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 128px;
  padding-bottom: 128px;
}

.content__card {
  position: relative;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.05);
    outline: 3px solid #44D2FF;
    border-radius: 16px;
  }

  // .content__card_img{
  //   transition: all 0.5s;

  //     &:hover {
  //       transform: scale(1.05);
  //     }
  // }/*Это не правильно*/
  .content__card_img:hover {
    cursor: url(img/top_cursor.svg), pointer;
  }
  
  .content__card_text {
    position: absolute;
    top: 236px;
    left: 32px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
  }

  .content__card_text:hover {
    cursor: url(img/top_cursor.svg), pointer;
  }
}

.Seasons {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  background-image: url(./img/Seasons.jpg);
  justify-content: center;
}

.Seasons__title{
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  padding-top: 282px;
}
.Seasons__text{
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
  width: 584px;
}
.Seasons__button{
  border-radius: 30px;
  background: #9C0332;
  border:none;
  width: 234.063px;
  height: 48.603px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 13px 74px;
  box-sizing: border-box;
  transition: all 0.5s;
  margin-top: 32px;

  &:hover {
    cursor: url(img/top_cursor.svg), pointer;
    background: #EB443F;
    transform: scale(1.05);
  }
}

.Seasons__img{
  width: 485px;
  height: 333px;
  padding-top: 234px;
  padding-bottom: 234px;
}      
        
        

      
      

      
      































































.puzzles{
  background-image:url(./img/puzzles_bac.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__game_title{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 276px;
  }
}
.puzzles__game{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 45px;
  .puzzles__game_text {
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      padding-top: 32px;
    }
  
    .puzzles__game_button {
      border-radius: 30px;
      background: #9C0332;
      border: none;
      width: 234.063px;
      height: 48.603px;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      padding: 13px 74px;
      display: block; 
      box-sizing: border-box;
      margin-bottom: 288px;
      transition: all 0.5s;
      &:hover {
          cursor: url(img/top_cursor.svg), pointer;
          background: #EB443F;
          transform: scale(1.05);
        }
    }
}


.footer{
  background-image: url(img/footer_bac.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__band{
      height: 1px;
      background: rgba(184, 212, 255, 0.20);
    }
    &__text{
      color: #FFF;
      font-size: 12px;
      font-weight: 400;
      padding-top: 32px;
      padding-bottom: 32px;
      text-align: center;
    }
}


@import 'mobail';
// @media (max-width: 767px) {
//   .center {
//     padding-left: 16px;
//     padding-right: 16px;
//   }

// }












